@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
.creative-section{
    position: relative;
    top:435px;
    width: 100%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 45px;
    .about-creative{
        position: relative;
        display: flex;
        align-items:flex-start;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        font-size: 75px;
        top: -435px;
        hr{
            background-color: black;
            color:black;
            border: 0.5px solid black;
            width: 50%;
        }
        .about-creative-item{
            position: relative;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: 'Rajdhani', sans-serif;
            p{
                cursor: pointer;
            }
            button{
                font-size: 35px;
                cursor: pointer;
            }
        }
    }
    .creative-background{
        background: url('../../Images/Main/Article/CreativeSection/creative_background.webp');
        background-size: cover;
        height: 1400px;
        width: 80%;
    }
}
