.about-developing-container{
    display: flex;
    justify-content: space-around;
    position: relative;
    top:275px;
    opacity: 0;
    .developing-title{
        font-size: 55px;
    }
    .developing-text{
        font-size: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        grid-gap: 25px;
        button{
            display: flex;
            align-items: center;
            grid-gap: 15px;
            cursor: pointer;
            i{
                transition: 0.5s all;
            }
        }
        button:hover{
            i{
                margin-left: 15px;
            }
        }
    }
}