::-moz-selection {
  background: black;
  color: white;
}

::selection {
  background: black;
  color: white;
}

main {
  position: relative;
  top: 245px;
  z-index: -1;
}
main article .header-bottom-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
}
main article .header-bottom-section .header-bottom-section-title h4 {
  font-size: 24px;
  font-weight: 300;
}
main article .header-bottom-section .header-bottom-section-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 750px;
}
main article .header-bottom-section .header-bottom-section-text p {
  font-size: 3.5vw;
  font-weight: 300;
}

@media only screen and (max-width: 1024px) {
  .header-bottom-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-bottom-section .header-bottom-section-title h4 {
    font-size: 5vw !important;
    font-weight: bold !important;
  }
  .header-bottom-section .header-bottom-section-text {
    width: 100% !important;
  }
  .header-bottom-section .header-bottom-section-text p {
    font-size: 6.6vw !important;
  }
}